{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form class="well" id="form_place_detail" action="" method="post">
        {% csrf_token %}
        <div class="row-fluid">
            <div class="span12">
                <label for="article-title">标题</label>
                <input type="text" class="span3" id="article-title" placeholder="标题" name="article-title" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label for="article-address">地址</label>
                <input type="text" class="span6" id="article-address" placeholder="XX省YY市XX区" name="article-address" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label for="gps-position">GPS位置</label>
                <input type="text" class="span6" id="article-address" placeholder="经度,纬度,高度" name="article-position" />
            </div>
        </div>
        <div class="row-fluid">
                <div class="btn-group pull-right">
                    <a class="btn" data-toggle="modal" href="#insert-picture">插入图片</a>
                    <button class="btn">插入链接</button>
                </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label for="article-content">正文</label>
                <textarea id="article-content" style="width:99%;height:300px;" name="article-content"/></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="btn-group">
                    <button class="btn">预览</button>
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
            </div>
            <div class="span8">
                <div class="btn-group pull-right">
                    <button class="btn btn-danger">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

